<!DOCTYPE html>
<html>
  {% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Help Page </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

</head>
<body>
    <center> <h1> Medinav Help </h1> </center>
        <div class="container">
          <h2>About</h2>
          <p>
            Medinav is a piece of software that details how to mix medicines for the end client.
          </p>
          <br>
          <h2>Work flow</h2>
          <ol>
            <li>Select medicine to mix from main window</li>
            <li>View medicine ingrediants and press confirm</li>
            <li>Follow LEDs to collect ingrediants</li>
            <li>Follow instructions to mix</li>
          </ol>

            <a href="/clientnav/selectmix"><button type="button" class="back_btn"> Back </button></a>
        </div>
</body>

<footer>
  Pharma Mapping
</footer>
</html>
