<!DOCTYPE html>
<html>
  {% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Login Page </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
</head>
<body>
    <center> <h1> Medinav Login </h1> </center>
    <form>
        <div class="container">
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <a href = "clientnav/selectmix">
              <button type="submit" onclick="checkPwd">Login</button>
            </a>
            Forgot <a href="#"> password? </a>
        </div>
    </form>
</body>

<footer>
  Pharma Mapping
</footer>
</html>
