<!DOCTYPE html>
<html>
  <head>
    {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Select Mix </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
<header id="header">
  <img src="{% static 'media/logo-nobackground-1000.png' %}" width="15%">
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/selectmix.js' %}"></script>
<style>
  select{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
</style>
</head>
<body>
  <center> <h1> MedNav </h1> </center>
  <a href="/clientnav/help">help</a>
    <select name="Drugs" size="3" id="selectdrug">
      {% for item in mixedDrugs %}
      <option>{{ item.d_id }} | {{ item.d_name }}</option>
      {% empty %}
      <p>cannot retrieve data from db</p>
      {% endfor %}
    </select>
    
    <button id="select_button">Select</button>
    <a href="/clientnav/index"><button>Log out</button></a>
</body>

<footer>
  Pharma Mapping MedNav
</footer>
</html>
