<!DOCTYPE html>
<html>
  <head>
    {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Select Mix </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
<style>
  select{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
</style>
</head>
<body>
  <center> <h1> MedNav </h1> </center>
  <a href="clientnav/help">help</a>
    <select name="Drugs" size="3">
      <!-- This will be loaded from db in reality-->
      <option value="Drug 1">Drug 1 | Description | Available</option>
      <option value="Drug 2">Drug 2 | Description | Available</option>
      <option value="Drug 3"> Drug 3 | Descrition | Available</option>
    </select>
    <a href="/clientnav/showmix"><button>Select</button></a>
    <a href="/clientnav/index"><button>Log out</button></a>
</body>

<footer>
  Pharma Mapping MedNav
</footer>
</html>
