<!DOCTYPE html>
<html>
  <head>
    {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Mix page </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
<header id="header">
  <img src="{% static 'media/logo-nobackground-1000.png' %}" width="15%">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/showmix.js' %}"></script>

</header>
<style>
  select{
      width: 100%;
      font-size: 30px;
      text-align: center;
    }
</style>
</head>
<body>
    <center> <h1> Phama Mapping Show Mix </h1> </center>
        <div class="container">
          <!--This should also get the data form the database-->
          <h2>{{ drug_name }}</h2>
          <p>Please press the ingredients to be obtained and press select. Proceed to retrieve the ingredient/s from the fridge and press collected when done. Repeat the process when returning the ingredients</p>
          <br>
          <hr>
          <br>
          <h3>Ingrediants Needed:</h3>
          <hr>
          <center><h3>Item id | Item Amount | Units of measurement | Ingredient Name</h3></center>
          <select id="Ingrediants" size="3">
            {% for item in drugIngrediants %}
            
            {% for ingrediant in ingrediantList %}
            {% if ingrediant.i_id == item.i_id %}
            <option id={{ item.i_id }}>{{ item.i_id }} | {{ item.amount }} | {{ item.units }} | {{ ingrediant.i_name }}</option>
            {% endif %}
            {% empty %}
            <p>cannot retrieve data from db</p>
            {% endfor %}
            {% endfor %}
            <!--
            <option value="Ingrediant 1">Ingrediant 1 | Quantity | Notes</option>
            <option value="Ingrediant 2">Ingrediant 2 | Quantity | Note</option>
            <option value="Ingrediant 3"> Ingrediant 3 | Quantity | Notes</option>
            -->
          </select>
          <!--Select drug to get-->
          <button type="button" id="select_button">Select/Return</button>
          <button type="button" id="reset_button">Collected</button>
          <!--Lights should bel it up now-->

        </div>
    <hr>
    <a href="/clientnav/selectmix"><button>Back</button></a>
</body>

<footer>
  Pharma Mapping MedNav
</footer>
</html>
