<!DOCTYPE html>
<html>
  <head>
    {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Mix page </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
<header id="header">
  <img src="{% static 'media/logo-nobackground-1000.png' %}" width="15%">
</header>
<style>
  select{
      width: 100%;
      font-size: 30px;
      text-align: center;
    }
</style>
</head>
<body>
    <center> <h1> Phama Mapping Show Mix </h1> </center>
        <div class="container">
          <!--This should also get the data form the database-->
          <h2>Drug 1</h2>
          <br>
          <hr>
          <br>
          <h3>Ingrediants Needed:</h3>
          <hr>
          <select name="Ingrediants" size="3">
            <!-- This will be loaded from db in reality-->
            {% for item in drugIngrediants %}
            
            {% for ingrediant in ingrediantList %}
            {% if ingrediant.i_id == item.i_id %}
            <option>{{ item.i_id }} | {{ item.amount }} | {{ item.units }} | {{ ingrediant.i_name }}</option>
            {% endif %}
            {% empty %}
            <p>cannot retrieve data from db</p>
            {% endfor %}
            {% endfor %}
            <!--
            <option value="Ingrediant 1">Ingrediant 1 | Quantity | Notes</option>
            <option value="Ingrediant 2">Ingrediant 2 | Quantity | Note</option>
            <option value="Ingrediant 3"> Ingrediant 3 | Quantity | Notes</option>
            -->
          </select>
          <!--Select drug to get-->
          <button>Select</button>
          <button>Return</button>
          <!--Lights should bel it up now-->

        </div>
    <hr>
    <a href="/clientnav/selectmix"><button>Back</button></a>
</body>

<footer>
  Pharma Mapping MedNav
</footer>
</html>
